name: CI

on:
  pull_request:
    branches: [ master ]

  workflow_dispatch:

jobs:
  tests:
    runs-on: ubuntu-latest
    
    env: 
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    steps:
      - uses: actions/checkout@v2
      - name: Install dependecies
        run: yarn
        
      - name: Test
        run: yarn test
      - name: Covarage test
        run: yarn coraverage
        
